{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid header-container px-5">
    <div class="button-panel">
        <form action="clear/">
            {% csrf_token %}
            <button class="icon-button" type="submit">
                <img src="{% static 'img/delete-fill.svg' %}">
                Clear
            </button>
        </form>
        <button class="icon-button">
            <img src="{% static 'img/download-fill.svg' %}">
            Download List
        </button>
        <form action="refresh/">
            {% csrf_token %}
            <button class="icon-button">
                <img src="{% static 'img/refresh-fill.svg' %}">
                Refresh
            </button>
        </form>
        <!-- <button class="icon-button"> 
            <img src="{% static 'img/add-fill.svg' %}">
            New Entry
        </button> -->
    </div>

    <div class="table-responsive floating-panel">
        <table class="table table align-middle">
            <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">First Name</th>
                    <th class="text-center" scope="col">Last Name</th>
                    <th class="text-center" scope="col">Email</th>
                    <th class="text-center" scope="col">Phone</th>
                    <th class="text-center" scope="col">Address</th>
                    <th class="text-center" scope="col">City</th>
                    <th class="text-center" scope="col">Postal Code</th>
                    <th class="text-center" scope="col">Make</th>
                    <th class="text-center" scope="col">Model</th>
                </tr>
            </thead>
            <tbody id="dashboard-table">
                {% if customers %}
                {% for customer in customers %}
                <tr>
                    <td class="text-center" scope="row">{{ forloop.counter }}</th>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.first_name }}</td>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.last_name }}</td>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.email }}</td>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.phone }}</td>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.address }}</td>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.city }}</td>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.postal_code }}</td>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.make }}</td>
                    <td class="text-center" contenteditable="false" onclick="copy_to_clipboard(this)">{{ customer.model }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<input type="text" id="hidden-text" style="z-index: -1 !important; position: relative;">

<script>
    function copy_to_clipboard(el) {
        const hiddenText = document.getElementById('hidden-text');
        hiddenText.value = el.innerText;
        hiddenText.select();

        // Copy the text inside the text field
        document.execCommand('copy');
    }
</script>
{% endblock %}