{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <title>Login</title>
    </head>
    <body>
        <div class="container min-vh-100 d-flex justify-content-center align-items-center">
            <form action="" method="POST">
                {% csrf_token %}
                <img src="{% static 'img/krown-logo-full.png' %}" height="100" alt="krown-logo">
                <br><br><br><br>
                <div class="mb-3">
                  <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
        </div>
    </body>
</html>